/* build font vazir */
@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir.eot");
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
}

/* Give fonts to body */
body{
    font-family: vazir !important;
}

.navbar-nav a:hover{
    color: #0d6efd !important;
}